<script lang="ts">
  import { Link } from "lucide-svelte";
  import { referenceSections } from "../../model/references";
  import { dateToString } from "$lib/utility";
</script>

<ol class="flex flex-col gap-8 w-full">
  {#each Object.keys(referenceSections) as section}
    <div>
      <h2 class="text-3xl">{section}</h2>
      <div class="flex flex-col gap-2">
        {#each referenceSections[section].sort( (a, b) => (a.date > b.date ? 1 : -1) ) as reference}
          <li class="flex flex-col gap-1 pt-4">
            <div>
              <h3>
                {reference.type}: {reference.title}
                <a class="text-blue-600" href={reference.url}
                  ><Link class="inline" size="20" /></a
                >
              </h3>
            </div>
            <div
              class="flex flex-row flex-wrap gap-x-4 items-center gap"
            >
              <time datetime={reference.date.toISOString()}
                >{dateToString(reference.date)}</time
              >
              <div>
                {reference.citations} citations
              </div>
              {#each reference.tags as tag}
                <div class="bg-slate-300 px-3 py-0 text-sm rounded-full">
                  {tag}
                </div>
              {/each}
            </div>
            <article>
              {reference.summary}
            </article>
          </li>
        {/each}
      </div>
    </div>
  {/each}
</ol>
