<script lang="ts">
  import { dateToString } from "$lib/utility";
  import { notes } from "../../model/notes";
  import { todos } from "../../model/todos";
</script>

<div class="flex flex-col gap-8">
  <div>
    <h2>Todo's</h2>
    <ol class="flex flex-col gap-1">
      {#each todos as todo}
        <li>{todo.done ? "✅": "🔳"} {todo.description}</li>
      {/each}
    </ol>
  </div>
  <div>
    <h2>Logs</h2>
    <ol class="flex flex-col gap-8 w-full">
      {#each notes.sort((a, b) => (a.date < b.date ? 1 : -1)) as note}
        <li class="flex flex-col gap-2">
          <div class="flex flex-row justify-between">
            <h3 class="text-xl">{note.title}</h3>
            <time datetime={note.date.toISOString()}
              >{dateToString(note.date)}</time
            >
          </div>
          <div class="text-justify leading-relaxed">{note.text}</div>
        </li>
      {/each}
    </ol>
  </div>
</div>
