<script>
    import "../app.css";
    import { page } from "$app/stores";
    import Tab from "$lib/components/Tab.svelte";
</script>

<div
    class="max-w-[1380px] mx-auto flex flex-col justify-center items-center"
>
    <nav class="flex flex-row justify-center md:gap-8 w-full bg-slate-200 p-2">
        <Tab name="Home" path="/" active={$page.url.pathname === "/"}></Tab>
        <Tab
            name="Experiments"
            path="/experiments"
            active={$page.url.pathname === "/experiments"}
        ></Tab>
        <Tab name="Notes" path="/notes" active={$page.url.pathname === "/notes"}
        ></Tab>
        <Tab
            name="References"
            path="/references"
            active={$page.url.pathname === "/references"}
        ></Tab>
    </nav>
    <div class="p-2 w-full">
        <slot />
    </div>
</div>
