<div class="flex flex-col gap-8 w-full ">
    <div>
        <h1 class="text-center">
            H&E to IHC stain translation with diffusion models
        </h1>
        <p>This website documents my, Erik Großkopf's, master thesis.</p>
    </div>
    <div class="flex flex-col gap-8">
        <div>
            <h2>What is stain translation?</h2>
            <article>
                What are stained tissues?
                What is HE, What is IHC?
                Why is translation relevant?
            </article>
        </div>
        <div>
            <h2>Current approaches</h2>
            <article>CycleGAN, Pix2Pix, ASP</article>
        </div>
        <div>
            <h2>Datasets</h2>
            <article>BCI Dataset, MIST Dataset</article>
        </div>
    </div>
</div>
