<script lang="ts">
    import Pager from "$lib/components/Pager.svelte";
    import { numToChar } from "$lib/utility";
    import { experiments } from "../../model/experiments";

    let totalImages = 1000;
    let imagesPerPage = 5;
    const zeroPad = (num: number, places: number) =>
        String(num).padStart(places, "0");
    const filePaths = [...Array(1000).keys()].slice(1).map(
        (number) => `/benchmark_er_testset/he/${zeroPad(number, 3)}.jpg`,
    );

    $: imagePaths = filePaths.slice(
        (pageIndex - 1) * imagesPerPage,
        (pageIndex - 1) * imagesPerPage + imagesPerPage,
    );

    let pageIndex: number = 1;
    let rawStringPageIndex: string = "1";
    $: {
        const parsedInt = parseInt(rawStringPageIndex);
        if (!Number.isNaN(parsedInt)) {
            pageIndex = Math.max(
                1,
                Math.min(parsedInt, totalImages / imagesPerPage),
            );
        }
    }
</script>

<div class="flex flex-col items-center w-full">
    <h2 class="self-start">Results</h2>
    <Pager {totalImages} {imagesPerPage} bind:pageIndex bind:rawStringPageIndex
    ></Pager>
    <table class="table-fixed w-full my-2">
        <thead>
            <tr 
                ><th class="align-bottom">(a) H&E Input</th><th class="align-bottom">(b) ER (IHC) Groundtruth</th>
                <td class=" w-4"></td>
                {#each $experiments.filter((e) => e.enabled) as experiment, index}
                    <th class={`align-bottom ${experiment.ours ? "font-normal" : "italic"} font-semibold`}>({numToChar(index + 2)}) {experiment.title}</th>
                {/each}
            </tr>
        </thead>
        {#each imagePaths as path}
            <tr>
                <td>
                    <img class="object-contain" src={path} alt="H&E Input" />
                </td>
                <td>
                    <img
                        class="object-contain"
                        src={path.replace("he", "ihc")}
                        alt="ER IHC Groundtruth"
                    />
                </td>
                <td class="w-4"></td>
                {#each $experiments.filter((e) => e.enabled) as experiment, index}
                    <td>
                        <img
                            class="object-contain"
                            src={path.replace("he", experiment.folderName)}
                            alt="Generated ER IHC"
                        />
                    </td>
                {/each}
            </tr>
        {/each}
    </table>
    <Pager {totalImages} {imagesPerPage} bind:pageIndex bind:rawStringPageIndex
    ></Pager>
</div>
