<script lang="ts">
  import { MoveDown, MoveUp } from "lucide-svelte";
  import { experiments } from "../../model/experiments";

  const best = (
    metric: number | null,
    allMetrics: (number | null)[],
    minMax: "min" | "max"
  ) => {
    if (metric == null) {
      return false;
    }

    const numbers: number[] = allMetrics.filter(Number) as number[];
    if (minMax === "min") {
      return Math.min(...numbers) === metric;
    } else {
      return Math.max(...numbers) === metric;
    }
  };

  const average = (array: number[]) => array.reduce((a, b) => a + b) / array.length
</script>

<div class="flex flex-col items-center">
  <h2 class="self-start">Metrics</h2>
  <table class="table-auto w-full my-2 max-w-[1400px]">
    <thead>
      <tr
        ><th class="border-b-2 border-r-2 w-[230px]"></th><th colspan="9" class="border-b-2 align-bottom font-normal"
          >Paired Metrics</th
        ><th class="border-b-2 border-l-2 align-bottom font-normal" colspan="2"
          >Unpaired Metrics</th
        >
      </tr>
      <tr class="font-normal"
        ><th class="border-b-2 border-r-2 font-normal">Method</th><th
          class="border-b-2 align-bottom pl-2"
          >SSIM<MoveUp class="inline w-4"></MoveUp></th
        ><th class="border-b-2 align-bottom pl-2"
          >PSNR<MoveUp class="inline w-4"></MoveUp></th
        >
        <th class="border-b-2 align-bottom pl-2">Acc<MoveUp class="inline w-4"></MoveUp></th>
        <th class="border-b-2 align-bottom pl-2">Acc Top3<MoveUp class="inline w-4"></MoveUp></th>
        <th class="border-b-2 align-bottom pl-2"
          >PHV Layer 1<MoveDown class="inline w-4"></MoveDown></th
        ><th class="border-b-2 align-bottom pl-2"
          >PHV Layer 2<MoveDown class="inline w-4"></MoveDown></th
        >
        <th class="border-b-2 align-bottom pl-2"
          >PHV Layer 3<MoveDown class="inline w-4"></MoveDown></th
        ><th class="border-b-2 align-bottom pl-2"
          >PHV Layer 4<MoveDown class="inline w-4"></MoveDown></th
        >
        <th class="border-b-2 align-bottom">PHV avg<MoveDown class="inline w-4"></MoveDown></th>
        <th class="border-b-2 border-l-2 align-bottom pl-2"
          >FID<MoveDown class="inline w-4"></MoveDown></th
        >
        <th class="border-b-2 align-bottom pl-2"
        >KID<MoveDown class="inline w-4"></MoveDown></th
      >
      </tr>
    </thead>
    <tbody>
      {#each $experiments.filter((e) => e.enabled) as experiment, index}
        {@const last = $experiments.filter((e) => e.enabled).length -1 === index}
        <tr>
          <td class={`${last ? "" : "border-b-2"} border-r-2 w-[200px] ${experiment.ours ? "font-normal" : "italic"}`}>{experiment.title}</td>
          <td
            class={`${
              best(
                experiment.metrics.ssim,
                $experiments.filter(e => e.enabled).map((e) => e.metrics.ssim),
                "max"
              )
                ? "font-bold"
                : "font-normal"
            } ${last ? "" : "border-b-2"} text-center`}
            >{experiment.metrics.ssim?.toString().slice(0, 6) || "-"}</td
          >
          <td
            class={`${
              best(
                experiment.metrics.psnr,
                $experiments.filter(e => e.enabled).map((e) => e.metrics.psnr),
                "max"
              )
                ? "font-bold"
                : "font-normal"
            } ${last ? "" : "border-b-2"} text-center`}
            >{experiment.metrics.psnr?.toString().slice(0, 6) || "-"}</td
          >
          <td
          class={`${
            best(
              experiment.metrics.accuracy,
              $experiments.filter(e => e.enabled).map((e) => e.metrics.accuracy),
              "max"
            )
              ? "font-bold"
              : "font-normal"
          } ${last ? "" : "border-b-2"} text-center`}
          >{experiment.metrics.accuracy?.toString().slice(0, 6) || "-"}</td>
          <td
          class={`${
            best(
              experiment.metrics.accuracyTop3,
              $experiments.filter(e => e.enabled).map((e) => e.metrics.accuracyTop3),
              "max"
            )
              ? "font-bold"
              : "font-normal"
          } ${last ? "" : "border-b-2"} text-center`}
          >{experiment.metrics.accuracyTop3?.toString().slice(0, 6) || "-"}</td>
          <td
            class={`${
              best(
                experiment.metrics.phv[0],
                $experiments.filter(e => e.enabled).map((e) => e.metrics.phv[0]),
                "min"
              )
                ? "font-bold"
                : "font-normal"
            } ${last ? "" : "border-b-2"} text-center`}
            >{experiment.metrics.phv[0]?.toString().slice(0, 6) || "-"}</td
          >
          <td
            class={`${
              best(
                experiment.metrics.phv[1],
                $experiments.filter(e => e.enabled).map((e) => e.metrics.phv[1]),
                "min"
              )
                ? "font-bold"
                : "font-normal"
            } ${last ? "" : "border-b-2"} text-center`}
            >{experiment.metrics.phv[1]?.toString().slice(0, 6) || "-"}</td
          >
          <td
            class={`${
              best(
                experiment.metrics.phv[2],
                $experiments.filter(e => e.enabled).map((e) => e.metrics.phv[2]),
                "min"
              )
                ? "font-bold"
                : "font-normal"
            } ${last ? "" : "border-b-2"} text-center`}
            >{experiment.metrics.phv[2]?.toString().slice(0, 6) || "-"}</td
          >
          <td
            class={`${
              best(
                experiment.metrics.phv[3],
                $experiments.filter(e => e.enabled).map((e) => e.metrics.phv[3]),
                "min"
              )
                ? "font-bold"
                : "font-normal"
            } ${last ? "" : "border-b-2"} text-center`}
            >{experiment.metrics.phv[3]?.toString().slice(0, 6) || "-"}</td
          >
          <td
          class={`${
            best(
              average(experiment.metrics.phv),
              $experiments.filter(e => e.enabled).map((e) => average(e.metrics.phv)),
              "min"
            )
              ? "font-bold"
              : "font-normal"
          } ${last ? "" : "border-b-2"} text-center`}
          >{average(experiment.metrics.phv)?.toString().slice(0, 6) || "-"}</td
        >
          <td
          class={`${
            best(
              experiment.metrics.fid,
              $experiments.filter(e => e.enabled).map((e) => e.metrics.fid),
              "min"
            )
              ? "font-bold"
              : "font-normal"
          } ${last ? "" : "border-b-2"} border-l-2 text-center`}
          >{experiment.metrics.fid?.toString().slice(0, 6) || "-"}</td
        >
        <td
        class={`${
          best(
            experiment.metrics.kid,
            $experiments.filter(e => e.enabled).map((e) => e.metrics.kid),
            "min"
          )
            ? "font-bold"
            : "font-normal"
        } ${last ? "" : "border-b-2"} text-center`}
        >{experiment.metrics.kid?.toString().slice(0, 6) || "-"}</td
      >
        </tr>
      {/each}
    </tbody>
  </table>
</div>

<style lang="css">
  td {
    padding-top: 8px;
    padding-bottom: 8px;
  }
</style>