<script lang="ts">
    import { ChevronLeft, ChevronRight } from "lucide-svelte";

    export let pageIndex: number;
    export let rawStringPageIndex: string = String(pageIndex);
    export let totalImages: number;
    export let imagesPerPage: number;
</script>

<div class="flex flex-row gap-2">
    <button
        on:click={() => {
            if (pageIndex > 1) rawStringPageIndex = String(pageIndex - 1);
        }}
    >
        <ChevronLeft></ChevronLeft>
    </button>
    <div>
        <input
            on:focusout={() => (rawStringPageIndex = String(pageIndex))}
            type="text"
            bind:value={rawStringPageIndex}
            class="w-10 text-right bg-slate-200 rounded-md px-1"
        />
        / {totalImages / imagesPerPage}
    </div>
    <button
        on:click={() => {
            if (pageIndex < totalImages / imagesPerPage)
                rawStringPageIndex = String(pageIndex + 1);
        }}
    >
        <ChevronRight></ChevronRight>
    </button>
</div>
