<script lang="ts">
    export let name: string
    export let path: string
    export let active: boolean
</script>

<a href={path} class="text-slate-800 px-4 py-0 border-b-2 {active ? "border-slate-800" : "border-transparent"}">{name}</a>
