<script lang="ts">
  import MetricsTable from "$lib/components/MetricsTable.svelte";
  import { numToChar } from "$lib/utility";
  import ImageTable from "../../lib/components/ImageTable.svelte";
  import { experiments } from "../../model/experiments";
</script>

<div class="flex flex-col gap-8">
  <article>
    All result images and metrics were generated/computed from images from the
    MIST dataset. The MIST dataset contains paired patches for H&E-ER stainings
    with 1024x1024 resolution. Since most current methods translate 512x512
    patches, 1000 image pairs from the validation set were randomly cropped to a
    512x512 resolution.
  </article>

  <div class="flex flex-col gap-4">
    <h2 class="self-start">Experiments</h2>
    <article>Enable or disable experiments. Other papers experiments are italic.</article>
    <div>
      {#each $experiments as experiment, index}
        <div class={`${experiment.ours ? "non-italic" : "italic"} flex flex-row items-center gap-2`}>
          <input type="checkbox" bind:checked={experiment.enabled} />
          {experiment.title}
        </div>
      {/each}
    </div>
  </div>

  <ImageTable></ImageTable>

  <MetricsTable></MetricsTable>

  <div>
    <h2 class="self-start">Experiment Descriptions</h2>
    <div class="flex flex-col gap-4 mt-2">
      {#each $experiments.filter((e) => e.enabled) as experiment, index}
        <div>
          <h4>
            {experiment.ours ? "Ours: " : ""}
            {experiment.title} ({numToChar(index + 2)})
          </h4>
          <h5 class="font-bold">Description</h5>
          <article>{experiment.description}</article>
          <h5 class="font-bold">Training details</h5>
          <ol>
            {#each experiment.trainingDetails as trainingDetail}
              <li>{trainingDetail}</li>
            {/each}
          </ol>
        </div>
      {/each}
    </div>
  </div>

  <div class="flex flex-col items-start gap-8">
    <div>
      <h2>Evaluation</h2>
      <article>
        Evaluation stain translation methods is challenging because of the lack
        of pixel perfect groundtruth image pairs. Once a tissue sample is
        stained, the process cannot be undone. Hence, many approaches resorted
        to using an unpaired approach. To create a paired dataset, sample pairs
        are extracted from depthwise consecutive cuts. It is highly likely that
        they share the same diagnostic label because of the spatial proximity.
        But due to the extraction method the paired groundtruth IHC image may be
        distorted, rotated, shifted or whole parts might be missing.
      </article>
    </div>
    <div>
      <h3>Unpaired Metrics</h3>
      <div class="flex flex-col items-start gap-4">
        <div>
          <h4 class="font-semibold">FID - Fréchet inception distance</h4>
          <article>
            The FID score compares the distribution of generated images with the
            distribution of groundtruth images. It does so by comparing the mean
            and standard deviation of the deepest layer in a pretrained
            Inception-v3 network. The deepest layer is close to the output layer
            which corresponds to classes of real world objects. The Inception-v3
            network was published as a module for GoogLeNet. The network is a
            classification convolutional neural network which was trained on
            ImageNet for 14 million images. The dataset contains more than
            20,000 categories which are organized according to the WordNet
            hierarchy. WordNet is a large lexical database of English. Most of
            the images from the dataset are typical photographs that reflect
            real-world scenarios. Thus, it is questionable if the network can
            also be used to estimate the distribution of a very domain specific
            set of images. Histopathological images are captured from specific
            microscopes. The authors recommend using a minimum sample size of
            10,000 to calculate the FID score. Otherwise the true FID of the
            generator may be underestimated. In order to create 10,000 H&E input
            images to calculate the FID score for each method, the images from
            the test set are cropped from one 1024x1024 image into 4 512x512
            images resulting in 16,000 H&E images which will be used as the
            model inputs.
          </article>
        </div>
        <div>
          <h4 class="font-semibold">KID - Fréchet inception distance</h4>
          <article>TBD</article>
        </div>
      </div>
    </div>
    <div>
      <h3>Paired Metrics</h3>
      <div class="flex flex-col items-start gap-4">
        <div>
          <h4 class="font-semibold">
            SSIM - Structural Similarity Index Measure
          </h4>
          <article>TBD</article>
        </div>
        <div>
          <h4 class="font-semibold">PSNR - Peak Signal-to-Noise Ratio</h4>
          <article>TBD</article>
        </div>
        <div>
          <h4 class="font-semibold">
            PHV - Perceptual Hash Value
          </h4>
          <article>
            A channel-level evaluation metric named 'Perceptual Hash Value' (PHV) is designed to thoroughly evaluate
            the similarity of the generated image and the referenced one. This metric is inspired by perceptual loss. The feature
            maps of the generated images are extracted using a pre-trained
            Resnet-101 network. Similarly, the feature maps of referenced
            images are also extracted. Hence, the PHV is defined as follows:
            <br/>
            PHV = 1 / N * Σ [ |avg(F_i(ỹ)) - avg(F_i(y))| - T ]
            <br/>
            where N is total channel number of the extracted features.
            Fi (·) represents the feature maps extracted from the it h layer
            of Resnet-101. y˜ and y are the generated stained image and
            refereced image respectively. avg (·) is the average pooling
            operation which is used to turn the 3-D features to a 1-D
            vector, and H [·] is the unit step function and T is a preset
            threshold.
            Source: Unpaired Stain Transfer Using Pathology-Consistent Constrained Generative Adversarial Networks
          </article>
        </div>
        <div>
          <h4 class="font-semibold">MAE - Mean Absolute Error (L1)</h4>
          <article>TBD</article>
        </div>
        <div>
          <h4 class="font-semibold">PHV - Perceptual Hash Value</h4>
          <article>TBD</article>
        </div>
        <div>
          <h4 class="font-semibold">Classification Network</h4>
          <article>TBD</article>
        </div>
      </div>
    </div>
    <div>
      <h3>Qualitative evaluation</h3>
      <div class="flex flex-col items-start gap-4">
        <div>
          <h4 class="font-semibold">Expert inspection</h4>
          <article>TBD</article>
        </div>
      </div>
    </div>
  </div>
</div>
